/* Meet Laura Section */
.meet-laura-section {
    background-color: #000;
    color: #fff;
    padding: 80px 0;
}

.meet-laura-section h2 {
    color: #fff;
}

.meet-laura-section .badge {
    font-size: 0.9rem;
    font-weight: 400;
    border-radius: 20px;
}

.meet-laura-section .table {
    color: white;
}

.meet-laura-section .table td {
    padding: 1rem 0;
    border-bottom: 1px solid #333;
    background-color: #000;
    color: white;
}

.meet-laura-section .table tbody tr:last-child td {
    border-bottom: none;
}

.meet-laura-section img {
    max-width: 90%;
    height: auto;
    object-fit: contain;
}